/**
 * @name Nothern Lights
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 * @BDEditor Translucence
*/

@import url('https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

:root {
  --app-bg: url('https://cdn.mos.cms.futurecdn.net/k6okX2VVUg4qWoyxuNLsf7-1200-80.jpg');
  --app-blur: 6px;
  --app-margin: 24px;
  --app-radius: 8px;
  --accent-hue: 175;
  --accent-saturation: 33%;
  --accent-lightness: 54%;
  --accent-opacity: 0.32;
  --sidebar-color: rgb(0,0,0,0.4);
  --main-content-color: rgb(0,0,0,0.2);
  --undefined: 0;
  --interactive-normal: #FFFFFF;
  --interactive-hover: #FFFFFF;
  --interactive-active: #FFFFFF;
  --interactive-muted: #000000;
  --undefined: 0;
  --background-modifier-hover: rgb(0,0,0,0.075);
  --background-modifier-selected: rgba(255,255,255,0.125);
  --message-color: rgba(0,0,0,0.4);
  --message-radius: 32px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --undefined: 0;
  --reply-hue: 171;
  --reply-saturation: 65%;
  --reply-lightness: 61%;
  --reply-opacity: 1;
  --textarea-color: 0,0,0;
  --textarea-alpha: 0.4;
  --textarea-alpha-focus: 0;
  --textarea-radius: 22px;
  --card-color: rgb(0,0,0,0.4);
  --card-color-hover: rgba(0,0,0,0.5);
  --card-color-select: rgba(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */


